{% extends 'base.html' %}
{% block title %}金融文本情感分析系统{% endblock %}
{% block content %}
<script type="text/javascript">
var rows=10;//根据文本框初始值设置。
var num=10;
var height = 155
function changerow(){
	num++;
	height += 15.5
	if(event.keyCode==13){  
	document.getElementById("erea").rows=num;
	var o = document.getElementById("result")
	var w=o.offsetHeight;
	o.style.height=w+15.1+'px';
	}
}
</script>
<div id="sc_box" style="margin:0 auto;">
<form method="POST" action="/newsread/">
 {% csrf_token %} 
 <div style="height:50px;"></div>
<div >
	<div style="height:50px;text-align:left">
<input type="submit"  class="btn" id="ssb" style="margin-left:500px;font-size:16px;margin-bottom:10px;color:red;width:80px;background-color:#38f;color:white;font-family:幼圆;border:0px;height:40px;cursor:pointer" value="资讯解读">
	</div>
	<div style="width:1000px;margin-left:80px;text-align:left;font-size:14px;">
<p>输入资讯url</p>
<textarea rows = "5" value="请输入资讯url" cols="120" name = "q" id="erea" onkeypress="changerow()" style="font-size:14px">
	{{query}}
</textarea>
<p>资讯标题：</p>
<div style="margin-top:10px;width:860px;height:151px;background-color:#ebebeb;font-size:14px;" id="result">
	{{title}}
</div>
<p>资讯摘要：</p>
<div style="margin-top:10px;width:860px;height:151px;background-color:#ebebeb;font-size:14px;" id="result">
	{{summary}}
</div>
股票列表：
<div style="margin-top:10px;width:860px;height:151px;background-color:#ebebeb;font-size:14px;" id="result">
{% for item in stock_list %}
	{{item}}
{% endfor%}
</div>
<p>资讯文本</p>
<div style="height:1000px;margin-top:10px;width:860px;background-color:#ebebeb;font-size:14px;" id="result">
	{{content}}
</div>
</div>
</div>
</form> 
{% endblock %}
</div>

