{% extends 'base.html' %}
{% block title %}金融资讯解读系统{% endblock %}
{% block content %}
<div id="sc_box" style="margin:0 auto;">
<form method="POST" action="/newsread/">
 {% csrf_token %} 
 <div style="height:50px;"></div>
<div >
	<div style="height:50px;text-align:left">
<input type="submit"  class="btn" id="ssb" style="margin-left:500px;font-size:16px;margin-bottom:10px;color:red;width:80px;background-color:#38f;color:white;font-family:幼圆;border:0px;height:40px;cursor:pointer" value="资讯解读">
	</div>
	<div style="width:1000px;margin-left:80px;text-align:left;font-size:14px;">
<p>输入资讯url</p>
<textarea rows = "3" value="请输入资讯url" cols="120" name = "q" id="erea" onkeypress="changerow()" style="font-size:14px">
	{{query}}
</textarea>
<p style="color:red">资讯标题：</p>
<p style="min-height:50px;margin-bottom:10px;width:860px;background-color:#ebebeb;font-size:14px;" id="result">
	{{title}}
</p>
<p style="color:red">资讯摘要：</p>
<p style="min-height:100px;margin-bottom:10px;width:860px;background-color:#ebebeb;font-size:14px;" id="result">
	{{summary}}
</p>
<p style="color:red">
关联股票：</p>
<p style="min-height:100px;margin-bottom:10px;width:860px;background-color:#ebebeb;font-size:14px;" id="result">
{% for item in stock_list %}
	{{item}}
{% endfor%}
</p>
<p style="color:red">
资讯情感：</p>
<p style="min-height:50px;margin-bottom:10px;width:860px;background-color:#ebebeb;font-size:14px;" id="result">
{{emotion}}
</p>
<p style="color:red">
关联行业、概念、板块：</p>
<p style="min-height:50px;margin-bottom:10px;width:860px;background-color:#ebebeb;font-size:14px;" id="result">
</p>
<p style="color:red">资讯文本</p>
<p style="min-height:100px;margin-bottom:10px;width:860px;background-color:#ebebeb;font-size:14px;" id="result">
	{{content}}
</p>
</div>
</div>
</form> 
{% endblock %}
</div>

