{% extends 'bigdata/base.html' %}
{% block title %}特色金融大数据{% endblock %}
{% block content %}
<div id="nav">
金融特色大数据
</div>
<script type="text/javascript">
function changeBgColor(link)
{

	var alllinks=document.getElementById("left_nav").getElementsByTagName("a");
	for (var i=0; i<alllinks.length; i++){
		    alllinks[i].className="";
			    }
	link.className="current";
}
</script>
<style type="text/css">
table th,td{border:1px solid #c0c0c0;padding:5px}
table th{background-color:#38f;color:white}
.current{background-color:white;}
.row1{background-color:white;}
.row2{background-color:#c0c0c0;}
#left_nav ul li{padding-left:20px;padding-right:20px;font-size:13px;margin-bottom:5px}
</style>
<div style="margin:0 auto;width:1200px;">
<div id="left_nav"style="width:180px;float:left;background-color:#c0c0c0;text-align:left">
	<ul>
		<li style="background-color:#5bc0de;">数据类型</li>
		<li class="{% if news %}current{% endif %}"><a href="/datanews">公司新闻</a></li>
		<li class="{% if report %}current{% endif %}"><a href="/datareport">公司公告</a></li>
		<li class="{% if research %}current{% endif %}"><a href="/dataresearch">研报</a></li>
		<li class="{% if eventstock %}current{% endif %}"><a href="/dataeventstock">事件驱动股票</a></li>
		<li class="{% if marketoverview %}current{% endif %}"><a href="/datamarketoverview">大盘评述</a></li>
		<li class="{% if morningpage %}current{% endif %}"><a href="/datamorningpage">早晚报</a></li>
		<li class="{% if zqpage %}current{% endif %}"><a href="/datazqpage">四大证券报精华</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">头条新闻</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">每日多空资讯</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">新闻联播精选</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">全球7*24实时消息</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">千股千评</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">主力动向</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">龙虎榜</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">股东增减持股票</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">机会情报</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">涨停涨跌揭秘</a></li>
		<li class="{% if toutiao %}current{% endif %}"><a href="/toutiao">股吧精选与热点题材</a></li>
		<li class="{% if hotindex %}current{% endif %}"><a href="/hotindex">热搜指数</a></li>
	</ul>
</div>

<div style="width:900px;float:left;text-align:left;font-size:12px;">
	{% if news %}
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<th style="border:1px solid #c0c0c0">标题</th>
					<th style="border:1px solid #c0c0c0">作者</th>
					<th style="border:1px solid #c0c0c0">日期</th>
				</tr>
				{% for result in news %}
				<tr class="{% cycle 'row1' 'row2' %}"> 
					<td style="border:1px solid #c0c0c0">
						<a href="{{ result.url }}">{{ result.title }}</a>
					</td>
					<td>
						{{result.author}}
					</td>
					<td style="border:1px solid #c0c0c0">
						{{result.pubtime|date:"Y年m月d日"}}
					</td>
				</tr>
				{% empty %}
				<tr><td>No results found.<td></tr>
				{% endfor %}
				<tr><td colspan="4" style="text-align:center">
                    {% if has_previous %}<a href="?page={{ previous_page_number }}">{% endif %}« 上一页{% if has_previous %}</a>{% endif %}
                    |
                    {% if has_next %}<a href="?page={{ next_page_number }}">{% endif %}下一页 »{% if has_next %}</a>{% endif %}
					&nbsp;&nbsp;总条数:{{totnum}}
					</td></tr>
	</table>
	{% endif %}
	{% if report %}
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<th style="border:1px solid #c0c0c0">标题</th>
					<th style="border:1px solid #c0c0c0">类型</th>
					<th style="border:1px solid #c0c0c0">日期</th>
				</tr>
				{% for result in report %}
				<tr class="{% cycle 'row1' 'row2' %}"> 
					<td style="border:1px solid #c0c0c0">
						<a href="{{ result.url }}">{{ result.title }}</a>
					</td>
					<td>
						{{result.category}}
					</td>
					<td style="border:1px solid #c0c0c0" width="100px">
						{{result.pubtime|date:"Y年m月d日"}}
					</td>
				</tr>
				{% empty %}
				<tr><td>No results found.<td></tr>
				{% endfor %}
				<tr><td colspan="4" style="text-align:center">
                    {% if has_previous %}<a href="?page={{ previous_page_number }}">{% endif %}« 上一页{% if has_previous %}</a>{% endif %}
                    |
                    {% if has_next %}<a href="?page={{ next_page_number }}">{% endif %}下一页 »{% if has_next %}</a>{% endif %}
					&nbsp;&nbsp;总条数:{{totnum}}
					</td></tr>
	</table>
	{% endif %}
	{% if research %}
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<th style="border:1px solid #c0c0c0">标题</th>
					<th style="border:1px solid #c0c0c0">类别</th>
					<th style="border:1px solid #c0c0c0">机构</th>
					<th style="border:1px solid #c0c0c0">作者</th>
					<th style="border:1px solid #c0c0c0">日期</th>
				</tr>
				{% for result in research %}
				<tr class="{% cycle 'row1' 'row2' %}"> 
					<td style="border:1px solid #c0c0c0">
						<a href="{{ result.url }}">{{ result.title }}</a>
					</td>
					<td width="50px">
						{{result.category}}
					</td>
					<td>
						{{result.institution}}
					</td>
					<td>
						{{result.author}}
					</td>
					<td style="border:1px solid #c0c0c0" width="100px">
						{{result.pubtime|date:"Y年m月d日"}}
					</td>
				</tr>
				{% empty %}
				<tr><td>No results found.<td></tr>
				{% endfor %}
				<tr><td colspan="5" style="text-align:center">
                    {% if has_previous %}<a href="?page={{ previous_page_number }}">{% endif %}« 上一页{% if has_previous %}</a>{% endif %}
                    |
                    {% if has_next %}<a href="?page={{ next_page_number }}">{% endif %}下一页 »{% if has_next %}</a>{% endif %}
					&nbsp;&nbsp;总条数:{{totnum}}
					</td></tr>
	</table>
	{% endif %}
	{% if marketoverview %}
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<th style="border:1px solid #c0c0c0">标题</th>
					<th style="border:1px solid #c0c0c0">作者</th>
					<th style="border:1px solid #c0c0c0">日期</th>
				</tr>
				{% for result in marketoverview %}
				<tr class="{% cycle 'row1' 'row2' %}"> 
					<td style="border:1px solid #c0c0c0">
						<a href="{{ result.url }}">{{ result.title }}</a>
					</td>
					<td>
						{{result.author}}
					</td>
					<td style="border:1px solid #c0c0c0">
						{{result.pubtime|date:"Y年m月d日"}}
					</td>
				</tr>
				{% empty %}
				<tr><td>No results found.<td></tr>
				{% endfor %}
				<tr><td colspan="4" style="text-align:center">
                    {% if has_previous %}<a href="?page={{ previous_page_number }}">{% endif %}« 上一页{% if has_previous %}</a>{% endif %}
                    |
                    {% if has_next %}<a href="?page={{ next_page_number }}">{% endif %}下一页 »{% if has_next %}</a>{% endif %}
					&nbsp;&nbsp;总条数:{{totnum}}
					</td></tr>
	</table>
	{% endif %}
	{% if morningpage %}
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<th style="border:1px solid #c0c0c0">标题</th>
					<th style="border:1px solid #c0c0c0">作者</th>
					<th style="border:1px solid #c0c0c0">日期</th>
				</tr>
				{% for result in morningpage %}
				<tr class="{% cycle 'row1' 'row2' %}"> 
					<td style="border:1px solid #c0c0c0">
						<a href="{{ result.url }}">{{ result.title }}</a>
					</td>
					<td>
						{{result.author}}
					</td>
					<td style="border:1px solid #c0c0c0">
						{{result.pubtime|date:"Y年m月d日"}}
					</td>
				</tr>
				{% empty %}
				<tr><td>No results found.<td></tr>
				{% endfor %}
				<tr><td colspan="4" style="text-align:center">
                    {% if has_previous %}<a href="?page={{ previous_page_number }}">{% endif %}« 上一页{% if has_previous %}</a>{% endif %}
                    |
                    {% if has_next %}<a href="?page={{ next_page_number }}">{% endif %}下一页 »{% if has_next %}</a>{% endif %}
					&nbsp;&nbsp;总条数:{{totnum}}
					</td></tr>
	</table>
	{% endif %}
	{% if zqpage %}
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<th style="border:1px solid #c0c0c0">标题</th>
					<th style="border:1px solid #c0c0c0">作者</th>
					<th style="border:1px solid #c0c0c0">日期</th>
				</tr>
				{% for result in zqpage %}
				<tr class="{% cycle 'row1' 'row2' %}"> 
					<td style="border:1px solid #c0c0c0">
						<a href="{{ result.url }}">{{ result.title }}</a>
					</td>
					<td>
						{{result.author}}
					</td>
					<td style="border:1px solid #c0c0c0">
						{{result.pubtime|date:"Y年m月d日"}}
					</td>
				</tr>
				{% empty %}
				<tr><td>No results found.<td></tr>
				{% endfor %}
				<tr><td colspan="4" style="text-align:center">
                    {% if has_previous %}<a href="?page={{ previous_page_number }}">{% endif %}« 上一页{% if has_previous %}</a>{% endif %}
                    |
                    {% if has_next %}<a href="?page={{ next_page_number }}">{% endif %}下一页 »{% if has_next %}</a>{% endif %}
					&nbsp;&nbsp;总条数:{{totnum}}
					</td></tr>
	</table>
	{% endif %}
	{% if eventstock %}
	<table border="0" cellspacing="0" cellpadding="0" width="100%">
				<tr>
					<th style="border:1px solid #c0c0c0">事件标题</th>
					<th style="border:1px solid #c0c0c0">事件简介</th>
					<th style="border:1px solid #c0c0c0">关联股票</th>
					<th style="border:1px solid #c0c0c0">事件情感</th>
					<th style="border:1px solid #c0c0c0">日期</th>
				</tr>
				{% for result in eventstock %}
				<tr class="{% cycle 'row1' 'row2' %}"> 
					<td style="border:1px solid #c0c0c0">
						<a href="{{ result.url }}">{{ result.title }}</a>
					</td>
					<td>
						{{result.summary}}
					</td>
					<td>
						{{result.stock_list}}
					</td>
					<td width="50px">
						{{result.emotion}}
					</td>
					<td style="border:1px solid #c0c0c0" width="100px">
						{{result.pubtime|date:"Y年m月d日"}}
					</td>
				</tr>
				{% empty %}
				<tr><td>No results found.<td></tr>
				{% endfor %}
				<tr><td colspan="4" style="text-align:center">
                    {% if has_previous %}<a href="?page={{ previous_page_number }}">{% endif %}« 上一页{% if has_previous %}</a>{% endif %}
                    |
                    {% if has_next %}<a href="?page={{ next_page_number }}">{% endif %}下一页 »{% if has_next %}</a>{% endif %}
					&nbsp;&nbsp;总条数:{{totnum}}
					</td></tr>
	</table>
	{% endif %}
</div>
</div>
{% endblock %}
</div>

